<div class="footer">
    <div class="content">
        <div class="menu2">
        <ul id="key">
            <li class="key"><%= link_to_unless_current("Login", signup_path, :class => "menuitem") do
				link_to("Login", signup_path, :class => "menuitem selected")
			end
			%></li>
        </ul>
        <ul class="items">
            <li><%= link_to "Michiels Vleeswaren", "http://www.michiels-vleeswaren.be", :class => "menuitem", :title => "Michiels Vleeswaren online"%></li>
            <li><%= link_to "Jac. Michiels", "http://www.jacmichiels.be", :class => "menuitem", :title => "Jac. Michiels online"%></li>
			<li><%= link_to "Fenavian", "http://www.fenavian.be", :class => "menuitem", :title => "De vereniging voor vlees en vleeswaren bedrijven"%></li>
			<li><%= link_to "FAVV", "http://www.favv.be", :class => "menuitem", :title => "FOD Voedselveiligheid"%></li>
			<li><%= link_to "Flanders' Food", "http://www.flandersfood.be", :class => "menuitem", :title => "De competentiepool van de Vlaamse Voedingsindustrie"%></li>
        </ul>
        </div><!--einde menu2-->
    </div><!--einde content-->
</div><!--einde footer-->